 body {
            font-family:"avenir next", Arial, sans-serif;
            font-size: 12px;
            color: #696969;
        }
        
        circle {
          fill-opacity: 1;
        }

        .selecting circle {
          fill-opacity: 0;
        }

        .ticks {
            font-size: 10px;
        }

        .track,
        .track-inset,
        .track-overlay {
            stroke-linecap: round;
        }

        .track {
            stroke: #dcdcdc;
            stroke-width: 10px;
        }

        .track-inset {
            stroke: #dcdcdc;
            stroke-width: 8px;
        }

        .track-overlay {
            pointer-events: stroke;
            stroke-width: 50px;
            stroke: transparent;
            cursor: crosshair;
        }

        .handle {
            fill: #fff;
            stroke: #000;
            stroke-opacity: 0.5;
            stroke-width: 1.25px;
        }
        
        .brush.extent {
          fill-opacity: 0.125;
          shape-rendering: crispEdges;
        }
